:global(header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 0 1vh 10vw;
    font-family: 'Montserrat', sans-serif;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 12vh;
    opacity: .90;
    background-color: #383737;
}

:global(header div) {
    letter-spacing: .5rem;
    text-transform: uppercase;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

:global(header h1) {
    font-size: 2.2rem;
}

:global(header h1 a) {
    text-decoration: none;
    color: antiquewhite;
}

:global(header div p) {
    font-size: 1rem;
}

:global(header nav ul) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    width: 50vw;
    padding: 2vh 9vw 2vh 0;
}

:global(header nav ul li a) {
    color: antiquewhite;
    text-decoration: none;
    letter-spacing: .3rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.navActive a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 5vh;
    border-radius: 1.2rem;
    background: linear-gradient(145deg, #323232, #3c3b3b);
    box-shadow: 1.2rem 1.2rem 2.4rem #272727,
        -1.2rem -1.2rem 2.4rem #494848;
}

.navMobileLinks {
    font-size: 2.2rem;
    text-shadow: 0 0 1rem #80b5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40vw;
    height: 10vh;
    margin-right: 0;
    border-radius: 1.2rem;
    background: linear-gradient(145deg, #323232, #3c3b3b);
    box-shadow: 1.2rem 1.2rem 2.4rem #272727,
        -1.2rem -1.2rem 2.4rem #494848;
}

#mobileNav {
    display: none;
}

#nav {
    display: block;
}

/* Media Queries */
@media screen and (max-width: 300px) {
    :global(header h1) {
        font-size: 1.5rem;
    }

    .hamburger {
        width: 3rem;
    }
}

@media screen
and (orientation: portrait)
and (max-width: 1000px) {
    #mobileNav {
        display: flex;
        align-items: center;
    }

    #mobileNav ul {
        display: flex;
        flex-direction: column;
        position: absolute; 
        top: 12vh;
        right: 0;
        width: 100vw;
        height: 88vh;
        background-color: #383737;
        padding: 0;
        border-top: .2rem solid antiquewhite;
    }

    .hamburger {
        color: antiquewhite;
        width: 4rem;
        height: auto;
        position: absolute;
        right: 10%;
        cursor: pointer;
    }

    #nav {
        display: none;
    }
}

@media screen
and (orientation: landscape)
and (maxwidth: 800px) and (min-width: 500px) {
    :global(header h1) {
        font-size: 1.6rem;
    }

    #mobileNav {
        display: flex;
        align-items: center;
    }

    #mobileNav ul {
        display: flex;
        flex-direction: column;
        position: absolute; 
        top: 12vh;
        right: 0;
        width: 100vw;
        height: 88vh;
        background-color: #383737;
        padding: 0;
        border-top: .2rem solid antiquewhite;
    }

    .hamburger {
        color: antiquewhite;
        width: 3rem;
        height: auto;
        position: absolute;
        right: 10%;
        cursor: pointer;
    }

    #nav {
        display: none;
    }
}


@media screen 
and (orientation: landscape)
and (max-device-width: 1200px) {
    #mobileNav {
        display: flex;
        align-items: center;
    }

    #mobileNav ul {
        display: flex;
        flex-direction: column;
        position: absolute; 
        top: 12vh;
        right: 0;
        width: 100vw;
        height: 88vh;
        background-color: #383737;
        padding: 0;
        border-top: .2rem solid antiquewhite;
    }

    .hamburger {
        color: antiquewhite;
        width: 4rem;
        height: auto;
        position: absolute;
        right: 10%;
        cursor: pointer;
    }

    #nav {
        display: none;
    }
}
