.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 10vw;
    /* padding: 1vh 0 1vh 10vw; */
    font-family: 'Montserrat', sans-serif;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 12vh;
    opacity: .70;
    /* // changelog-start */
    /* background-color: transparent; */
    background-color: #383737;
    /* // changelog-end */
}

.header div {
    letter-spacing: .5rem;
    text-transform: uppercase;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.header h1 {
    font-size: 2.2rem;
}

.header div p {
    font-size: 1rem;
}

.mobileNav {
    display: none;
}

.nav {
    display: block;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* list-style: none; */
    gap: 3rem;
}

.navLink,
.navActive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    letter-spacing: 0.3rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navLink {
    background: transparent;
    box-shadow: none;
}

.navActive {
    height: 5vh;
    border-radius: 1.2rem;
    background: linear-gradient(145deg, #323232, #3c3b3b);
    box-shadow: 1.2rem 1.2rem 2.4rem #272727,
        -1.2rem -1.2rem 2.4rem #494848;
}

.navMobileLinks {
    font-size: 2.2rem;
    text-shadow: 0 0 1rem #80b5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 10vh;
    border-radius: 1.2rem;
    letter-spacing: .3rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background: linear-gradient(145deg, #323232, #3c3b3b);
    box-shadow: 1.2rem 1.2rem 2.4rem #272727,
        -1.2rem -1.2rem 2.4rem #494848;
}

/* Media Queries */
@media screen and (max-width: 300px) {
    .header h1 {
        font-size: 1.5rem;
    }

    .hamburger svg {
        color: antiquewhite;
        width: 3rem;
        height: auto;
        position: absolute;
        right: 10%;
        top: 30%;
        cursor: pointer;
    }
}

@media screen and (orientation: portrait) and (max-width: 1000px) {
    .mobileNav {
        display: flex;
        align-items: center;
    }

    .mobileNav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 12vh;
        right: 0;
        width: 100vw;
        height: 88vh;
        background-color: #383737;
        /* padding: 0; */
        border-top: .2rem solid antiquewhite;
    }

    .hamburger svg {
        color: antiquewhite;
        width: 4rem;
        height: auto;
        position: absolute;
        right: 10%;
        top: 30%;
        cursor: pointer;
    }

    .nav {
        display: none;
    }
}

@media screen and (orientation: landscape) and (max-width: 800px) and (min-width: 500px) {
    .header h1 {
        font-size: 1.6rem;
    }

    .mobileNav {
        display: flex;
        align-items: center;
    }

    .mobileNav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 12vh;
        right: 0;
        width: 100vw;
        height: 88vh;
        background-color: #383737;
        padding: 0;
        border-top: .2rem solid antiquewhite;
    }

    .hamburger svg {
        color: antiquewhite;
        width: 3rem;
        height: auto;
        position: absolute;
        right: 10%;
        top: 30%;
        cursor: pointer;
    }

    .nav {
        display: none;
    }
}


@media screen and (orientation: landscape) and (max-device-width: 1200px) {
    .mobileNav {
        display: flex;
        align-items: center;
    }

    .mobileNav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 12vh;
        right: 0;
        width: 100vw;
        height: 88vh;
        background-color: #383737;
        padding: 0;
        border-top: .2rem solid antiquewhite;
    }

    .hamburger svg {
        color: antiquewhite;
        width: 4rem;
        height: auto;
        position: absolute;
        right: 10%;
        top: 30%;
        cursor: pointer;
    }

    .nav {
        display: none;
    }
}