.background {
    height: 100vh;
    width: 100vw;
    /* Photo by <a href="https://unsplash.com/@el_ham?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hamish Weir</a> on <a href="https://unsplash.com/s/photos/night-sky?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-image: url(/assets/images/hamish-weir-cuO6_mnbgPE-unsplash.jpg);
    /* background-image: url(./assets/images/hamish-weir-cuO6_mnbgPE-unsplash.jpg); */
    background-size: cover;
    background-position: center;
}

.gridSquares {
    width: 5rem;
    height: 5rem;
    /* border: 1px solid teal; */
    /* background: linear-gradient(45deg, #f3ec78, #af4261); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.motionSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.gridContainer {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0;
    padding: 0;
    margin: 0;
}

.deadGridSquare {
    width: 5rem;
    height: 5rem;
    /* border: 1px solid transparent; */
    background: transparent
}