.hero {
  height: 100vh;
  width: 100vw;
  /* Photo by <a href="https://unsplash.com/@el_ham?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hamish Weir</a> on <a href="https://unsplash.com/s/photos/night-sky?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  background-image: url(/assets/images/hamish-weir-cuO6_mnbgPE-unsplash.jpg);
  /* background-image: url(./assets/images/hamish-weir-cuO6_mnbgPE-unsplash.jpg); */
  background-size: cover;
  background-position: center;
}

/* changelog-start */
.gridContainer {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0;
    padding: 0;
    margin: 0;
    z-index: -1;
    position: absolute;
}
/* changelog-end */

.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.triangleWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(150px, 32vw, 600px);
  aspect-ratio: 1 / 1;
  z-index: 2;
  /* border: white dashed .5px; */
}

.upperTriangleWrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(150px, 26vw, 500px);
  aspect-ratio: 1 / 1;
  z-index: 2;
  /* border: white dashed .5px; */
}

.lowerTriangleWrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(150px, 26vw, 500px);
  aspect-ratio: 1 / 1;
  z-index: 2;
}

.baseTriangle,
.upperTriangle,
.lowerTriangle {
  object-fit: contain;
  object-position: center;
}

.cometWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Media queries */
@media screen and (max-width: 500px) {
  .upper {
    top: 29vh;
  }

  .lower {
    top: 83vh;
  }
}

@media screen and (orientation: portrait) and (max-width: 1000px) {
  .hero {
    height: 100vh;
    width: 100vw;
    /* Photo by <a href="https://unsplash.com/@el_ham?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hamish Weir</a> on <a href="https://unsplash.com/s/photos/night-sky?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-image: url(/assets/images/hamish-weir-cuO6_mnbgPE-unsplash.jpg);
    /* background-image: url(./assets/images/hamish-weir-cuO6_mnbgPE-unsplash.jpg); */
    background-size: auto 100%;
    background-position: center;
  }
}